<p id="notice"><%= notice %></p>

<h1>Feeds</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @feeds.each do |feed| %>
      <div>
        <%= render 'feed', local = { feed: feed} %>
      </div>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
